<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283909703326-qrvahvbqpliodp49skdhni5q4q73coek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283909703326-qrvahvbqpliodp49skdhni5q4q73coek</string>
	<key>API_KEY</key>
	<string>AIzaSyA5iX3O4OrZ0a9Hs0nA6S4AAxCJwlDHvg4</string>
	<key>GCM_SENDER_ID</key>
	<string>283909703326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lm.rider</string>
	<key>PROJECT_ID</key>
	<string>lastmiles-uat-cf6a6</string>
	<key>STORAGE_BUCKET</key>
	<string>lastmiles-uat-cf6a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283909703326:ios:cf0b8897bb7fe18f95dd8f</string>
	<key>DATABASE_URL</key>
	<string>https://lastmiles-uat-cf6a6.firebaseio.com</string>
</dict>
</plist>